@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
* {
    background-color: #040714;
    color: #f9f9f9;
    font-family: 'Satisfy', cursive;
    /* height: 100%; */
    margin: 0;
}